@import "tailwindcss";

@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/instrument-serif/400.css";

:root {
  --font-inter: "Inter", sans-serif;
  --font-serif-accent: "Instrument Serif", serif;
}

body {
  font-family: var(--font-inter);
}
